{% comment %}
-----------------------------------------------------------------------------
  Snippet: Reset password form (customers-reset-password)
-----------------------------------------------------------------------------
{% endcomment %}
{%- liquid
  assign cancel_cta_string = 'customers.reset_password.cancel' | t
  assign reset_password_cta_string = 'customers.reset_password.cta' | t
-%}

{% # 'email' is a special Liquid tag for this template %}

<h2 class="text-p customers-reset-password__title">
  {{ 'customers.reset_password.title' | t }}
</h2>
<p class="text-button-nav customers-reset-password__email mt-xs">
  {{ 'customers.reset_password.text_html' | t: email: email }}
</p>

{% form 'reset_customer_password' %}
  <div class="form-group mt-xl">
    <div class="form-group__field">
      <input
        id="password"
        {% if form.errors contains 'password' %}
          class="has-error"
        {% endif %}
        autocomplete="new-password"
        name="customer[password]"
        placeholder="{{ 'customers.fields.password_new.placeholder' | t }}"
        required
        type="password"
        {% if form.errors contains 'password' %}
          aria-describedby="reset-password-password-errors"
          aria-invalid="true"
        {% endif %}
      >

      <label
        class="form-group__label text-body-m-regular"
        for="password"
      >
        {{ 'customers.fields.password_new.label' | t }}
      </label>

      {% render 'form-errors' with
        class: 'form-group__note',
        form: form,
        namespace: 'reset-password-password',
        type: 'password',
      %}
    </div>

    <div class="form-group__field">
      <input
        id="password-confirmation"
        {% if form.errors contains 'password_confirmation' %}
          class="has-error"
        {% endif %}
        autocomplete="new-password"
        name="customer[password_confirmation]"
        placeholder="{{ 'customers.fields.password_confirmation.placeholder' | t }}"
        required
        type="password"
        {% if form.errors contains 'password_confirmation' %}
          aria-describedby="reset-password-confirm-password-errors"
          aria-invalid="true"
        {% endif %}
      >

      <label
        class="form-group__label text-body-m-regular"
        for="password-confirmation"
      >
        {{ 'customers.fields.password_confirmation.label' | t }}
      </label>

      {% render 'form-errors' with
        class: 'form-group__note',
        form: form,
        namespace: 'reset-password-confirm-password',
        type: 'password_confirmation',
      %}
    </div>

    <div
      class="
        customers__onboarding-form-footer
        customers__onboarding-form-footer--small-gap
        form-group__footer
      "
    >
      {% render 'btn' with
        class: 'customers__reset',
        label: reset_password_cta_string,
        type: 'submit',
      %}
    </div>
  </div>
{% endform %}
