{% comment %}
------------------------------------------------------------------------------
  Section: multi-store-settings (multi-store-settings)
------------------------------------------------------------------------------
{% endcomment %}
<section
  aria-label="multi-store-settings-section-{{ section.id }}"
>
  <multi-store-settings
    v-show="getComponentVisible('multi-store-settings')"
    v-cloak
    :liquid="{
      sectionId: {{ section.id | json | escape }}
    }"
    :enabled="{{ section.settings.enable_multi_store | json | escape }}"
    :stores="[
      {% for block in section.blocks %}
        {% liquid
          if block.settings.flag_image != blank
            assign flag_image_url = block.settings.flag_image | image_url: width: 48
          else
            assign flag_image_url = 'https://cdn.shopify.com/static/images/flags/#.svg' | replace: '#', block.settings.country_handle | downcase
          endif
        %}
        {
          name: {{ block.settings.country_name | json | escape }},
          code: {{ block.settings.country_code | json | escape }},
          handle: {{ block.settings.country_handle | json | escape }},
          shopify: {{ block.settings.shopify | json | escape }},
          link: {{ block.settings.link | json | escape }},
          currency: {{ block.settings.currency | json | escape }},
          flag: {
            src: {{ flag_image_url | json | escape }},
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]"
    :title="{{ section.settings.title | json | escape }}"
    :message="{{ section.settings.message | json | escape }}"
  ></multi-store-settings>
</section>

{% liquid
  if section.settings.enable_multi_store
    render 'country-select-modal'
    render 'country-select-landing'
  endif
%}
{% schema 'multi-store-settings' %}
