{% comment %}
-----------------------------------------------------------------------------
  Layout: Password
  - Password page layout.
  - templates/password.liquid is passed into {{ content_for_layout }}
  - https://shopify.dev/docs/themes/files/password-liquid
  - Layout styles are exclusively loaded through `critical/password`.
-----------------------------------------------------------------------------
{% endcomment %}
{%- liquid
  assign not_production = true
  assign theme_name = theme.name | downcase

  if theme_name contains 'production'
    assign not_production = false
  endif

  # RTL languages based on https://en.wikipedia.org/wiki/Right-to-left_script
  assign rtl_languages = 'ar,dv,fa,ff,he,ks,ku,ur,wo,yi' | split: ','
  assign direction = 'ltr'

  if rtl_languages contains localization.language.iso_code
    assign direction = 'rtl'
  endif
-%}

<!doctype html>
<html
  class="no-js"
  dir="{{ direction }}"
  lang="{{ localization.language.iso_code }}"
>
  <head>
    {% render 'critical-password' %}

    {% comment %}
    -----------------------------------------------------------------------------
      Site snippets.
    -----------------------------------------------------------------------------
    {% endcomment %}
    {%- liquid
      render 'site-meta'
      render 'site-hreflang'
      render 'site-favicon'
      render 'site-social-tags'
    -%}

    {% comment %}
    -----------------------------------------------------------------------------
      Theme snippets.
    -----------------------------------------------------------------------------
    {% endcomment %}
    {%- liquid
      render 'theme-fonts'
      render 'theme-variables'
    -%}

    <!-- BEGIN content_for_header -->
    {% capture shopify_header_content %}
      {{ content_for_header }}
    {% endcapture %}

    {% if settings.remove_preview_bar and not_production %}
      {{ shopify_header_content | remove: 'previewBarInjector.init();' }}
    {% else %}
      {{ shopify_header_content }}
    {% endif %}
    <!-- END content_for_header -->
  </head>

  <body
    id="{{ page_title | handle }}"
    class="
      page-type-{{ request.page_type }}
      template-{{ template.name | handle }}
    "
  >
    <main
      id="main-content"
      class="site-main-section"
    >
      <!-- BEGIN content_for_layout -->
      {{ content_for_layout }}
      <!-- END content_for_layout -->
    </main>

    {% comment %}
    -----------------------------------------------------------------------------
      Custom preview bar.
    -----------------------------------------------------------------------------
    {% endcomment %}
    {% render 'theme-preview-bar' %}
  </body>

  {% comment %}
  ----------------------------------------------------------------------------
    Theme scripts.
  ----------------------------------------------------------------------------
  {% endcomment %}
  {% render 'theme-scripts' with layout: 'password' %}
</html>
